<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <h2>Texto de hola2</h2>
        {% if name %}
            <h1>Hello {{ name }}!</h1>
        {% else %}
            <h1>No hay nombre</h1>
        {% endif %}
</body>
</html>